/Capitolo 3/Counter/nbproject/private/
/Capitolo 3/Counter/build/
/Capitolo 3/Counter/dist/
/Capitolo 3/Circuit/nbproject/private/
/Capitolo 3/ClockWindow/nbproject/private/
/Capitolo 3/ClockWindow/build/
/Capitolo 3/ClockWindow/dist/
/Capitolo 3/CircuitTester/nbproject/private/
/Capitolo 3/CircuitTester/build/
/Capitolo 3/CircuitTester/dist/
/Capitolo 3/BankAccount/nbproject/private/
/Capitolo 3/BankAccount/build/
/Capitolo 3/SavingAccountTester/nbproject/private/
/Capitolo 3/SavingAccountTester/build/
/Capitolo 3/CashTester/nbproject/private/
/Capitolo 3/CashTester/dist/
/Capitolo 3/CashTester/build/
/Capitolo 3/CarTester/nbproject/private/
/Capitolo 3/CarTester/build/
/Capitolo 3/LetterTester/nbproject/private/
/Capitolo 3/LetterTester/build/
/Capitolo 3/BugTester/nbproject/private/
/Capitolo 3/BugTester/build/
/Capitolo 3/TargetViewer/nbproject/private/
/Capitolo 3/TargetViewer/build/